/* 默认主题（浅色） */
.markdown-body {
  background-color: transparent !important;
  color: #24292e;
}

/* 深色主题 */
@media (prefers-color-scheme: dark) {
  .markdown-body {
    background-color: #0d1117;
    color: #c9d1d9;
  }

  .markdown-body a {
    color: #58a6ff;
  }
}

/* 浅色主题 */
@media (prefers-color-scheme: light) {
  .markdown-body {
    background-color: transparent !important;
    color: #24292e;
  }

  .markdown-body a {
    color: #0969da;
  }
}
